<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <!-- Cargar la biblioteca static -->
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet"> <!-- Incluye aquí tu archivo CSS de Tailwind -->
    <title>Mi Proyecto</title>
</head>
<body class="bg-gray-100 text-gray-900">
    <header class="bg-blue-600 text-white p-4">
        <h1 class="text-center text-2xl">Mi Proyecto</h1>
    </header>

    <main class="container mx-auto mt-8 p-4">
        {% block content %}
        <!-- Aquí se mostrará el contenido específico de cada vista que extienda de esta plantilla -->
        {% endblock %}
    </main>

    <footer class="bg-gray-800 text-white text-center p-4 mt-8">
        <p>© 2024 Mi Proyecto. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
